.avatar__img {
   height: 300px;
   width: 300px;
}
// .carousel__prod {
//    object-fit: contain;
//    width: auto;
//    height: auto;
//    object-position: center;
// }
.carousel__prod {
   min-width: 100%;
   min-height: 100%;
   object-fit: cover;
   max-height: 500px;
}
.heroimg {
   max-height: 500px;
   max-width: 500px;
}
