// coloures

$theme-colors: (
   "primary": #d3dce6,
   "secondary": #43a5ae,
   "success": #323946,
   "light": #eaeff5,
   "dark": rgb(0, 0, 0),
   "err": rgb(234, 4, 4),
   "green": rgb(10, 241, 6),
);

$nav-tabs-link-active-bg: #43a5ae;
$--bs-card-border-color: #858585;
html,
body {
   width: 100%;
   height: 100%;
}
